<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI MediGuide - Find By Symptoms</title>

    {{> search_cdn }}

</head>

<body>
    <div class="relative flex flex-col min-h-screen size-full bg-white overflow-x-hidden">
        {{> search_header }}

        {{!-- Page Content --}}
        <h2 class="text-2xl pt-10 font-bold self-center text-center">Find the right medicine for your symptoms</h2>


    </div>
    {{> search_footer}}
</body>

</html>