<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI MediGuide - Find Medicines</title>

    {{> search_cdn }}

    {{!-- Static CSS --}}
    <link rel="stylesheet" href="/css/search.css">
</head>

<body style='font-family: Manrope, "Noto Sans", sans-serif;'>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden">
        <div class="layout-container flex h-full grow flex-col">

            {{> search_header }}

            {{!-- Page Content --}}
            <h2 class="text-2xl pt-10 font-bold self-center text-center mx-40 max-lg:mx-30 max-md:mx-20 max-sm:mx-9">
                Find Medicines or Ingredients Information</h2>

            {{!-- Search Area --}}
            <div
                class="searcharea flex justify-center items-center my-3 mx-40 max-lg:mx-30 max-md:mx-20 max-sm:mx-9 bg-gray-100 rounded-xl">
                <i class="bi bi-search px-2.5 text-gray-500"></i>
                <input type="text" id="textfield" placeholder="Search medicines or ingredients"
                    class="flex-grow focus:outline-none focus:ring-0 bg-gray-100 rounded-xl border-0">
                <i class="bi bi-arrow-right px-2.5 py-2 text-white font-bold bg-gray-500 rounded-tr-xl rounded-br-xl cursor-pointer"
                    id="search"></i>
            </div>

            <div class="flex justify-between mx-40 max-lg:mx-30 max-md:mx-20 max-sm:mx-9">
                <div></div>
                <div class="text-xs">
                    <p>Need to search by symptoms? <a class="text-blue-500 hover:underline" href="/symptoms">Click
                            here</a></p>
                </div>
            </div>

            {{!-- Recent Searches --}}
            <div class="recents pt-2 mx-40 max-lg:mx-30 max-md:mx-20 max-sm:mx-9">
                <h3 class="text-lg font-bold">Recent Searches</h3>
                <div class="recent-keywords flex flex-wrap gap-2"></div>
            </div>

            {{!-- Landing Text --}}
            <div class="landing-text w-full flex-grow flex flex-col items-center justify-center">
                <img src="/images/medical.svg" alt="" class="w-20 max-md:w-16 max-sm:w-12">
                <p class="w-1/3 max-md:w-2/3 max-sm:w-3/4 text-center text-gray-400">Welcome to MedSearch, your
                    comprehensive medicine information
                    portal. Begin your
                    journey to better
                    health by searching for detailed medicine profiles, usage guidelines, and safety precautions. Simply
                    enter a medicine name, ingredient, or manufacturer in the search box above to get started.</p>
            </div>

            {{!-- Loader Area --}}
            <div class="loader-container w-full flex-grow flex items-center justify-center">
                <div class="loader"></div>
            </div>

            {{!-- Results Area --}}
            <div class="results pt-4 mx-40 max-lg:mx-30 max-md:mx-20 max-sm:mx-9"></div>
        </div>

        {{> search_footer }}
    </div>

    <div id="myModal"
        class="modal fixed top-0 left-0 w-full h-full flex items-center justify-center backdrop-blur-sm bg-[#00000066]">
        <div class="modal-content bg-white w-4/5 h-4/5 p-4 rounded-xl flex flex-col">
            <div class="close-area flex justify-between">
                <p></p>
                <span class="close text-[#aaa] hover:text-[#888] text-3xl font-bold cursor-pointer">&times;</span>
            </div>
            <p class="content">Modal content...</p>
            <div class="modal-details overflow-y-auto"></div>
        </div>
    </div>
</body>

<script src="/js/search.js"></script>

</html>