<nav class="navbar">
    <div class="container">
        <div class="navbar-content d-flex justify-content-between align-items-center">
            <div class="brand-and-toggler d-flex align-items-center justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <span class="brand-shape d-inline-block text-white">AI</span>
                    <span class="brand-text fw-7">MediGuide</span>
                </a>
                <button type="button" class="d-none navbar-show-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <div class="navbar-box">
                <button type="button" class="navbar-hide-btn">
                    <i class="fas fa-times"></i>
                </button>

                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white nav-active text-nowrap">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/find" class="nav-link text-white text-nowrap">Find Medicine</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white text-nowrap">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>