<p class="text-center self-center text-red-400 text-sm py-2 bg-gray-100 w-full"><b>Warning:</b> This
    information
    is
    AI-generated
    and for
    informational purposes only. Consult a healthcare professional for medical advice.</p>